n8n_bounce_processor.json
{
  "name": "Bounce Processor (Outlook → CSV)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 0,
              "minute": 0
            }
          ]
        }
      },
      "id": "cron",
      "name": "Cron (15m)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {
          "search": "Undeliverable OR Delivery has failed OR Mail delivery failed",
          "top": 50
        }
      },
      "id": "outlookSearch",
      "name": "Microsoft Outlook - Search Bounces",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [460, 200],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "replace-with-your-credential-id",
          "name": "Microsoft Outlook OAuth2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const itemsOut = []; for (const i of items) { const subj = i.json.subject || ''; const match = subj.match(/CID:(HOTEL_\\d{4})/); const uniqueId = match ? match[1] : null; const recipient = i.json.to && i.json.to[0] ? i.json.to[0].email : null; itemsOut.push({ json: { unique_id: uniqueId, recipient, bounce: true, bounce_subject: subj, received_at: i.json.date } }); } return itemsOut;"
      },
      "id": "extractCid",
      "name": "Extract CID",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "filePath",
              "value": "D:/Priv/Leads/Hotels_ICP_High_Value_Prospects_v2.csv"
            }
          ]
        },
        "options": {}
      },
      "id": "setFile",
      "name": "Set Target CSV",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [200, 420]
    },
    {
      "parameters": {
        "filePath": "={{$json[\"filePath\"]}}"
      },
      "id": "readCsvBin",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 420]
    },
    {
      "parameters": {
        "operation": "read",
        "binaryData": true,
        "options": {
          "headerRow": true
        }
      },
      "id": "sheetRead",
      "name": "Spreadsheet File (Read)",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [720, 420]
    },
    {
      "parameters": {
        "functionCode": "const bounces = $items('Extract CID').map(i => i.json).filter(b => b.unique_id); const rows = $input.all().map(i => i.json); const map = new Map(bounces.map(b => [b.unique_id, b])); const updated = rows.map(r => map.has(r.unique_id) ? { ...r, status: 'Bounced', last_result: 'Bounce', last_contacted_at: r.last_contacted_at || new Date().toISOString() } : r); return updated.map(r => ({ json: r }));"
      },
      "id": "mergeBounces",
      "name": "Merge Bounces",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [980, 420]
    },
    {
      "parameters": {
        "operation": "write",
        "options": {
          "headerRow": true
        }
      },
      "id": "sheetWrite",
      "name": "Spreadsheet File (Write)",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [1240, 420]
    },
    {
      "parameters": {
        "fileName": "={{$json[\"filePath\"]}}"
      },
      "id": "writeBin",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1500, 420]
    }
  ],
  "connections": {
    "Cron (15m)": {
      "main": [
        [
          {
            "node": "Microsoft Outlook - Search Bounces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook - Search Bounces": {
      "main": [
        [
          {
            "node": "Extract CID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target CSV": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Spreadsheet File (Read)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File (Read)": {
      "main": [
        [
          {
            "node": "Merge Bounces",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Bounces": {
      "main": [
        [
          {
            "node": "Spreadsheet File (Write)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File (Write)": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "auto-generated"
}




