n8n_outreach_sender.json
{
  "name": "Outreach Sender (CSV → Outlook)",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "filePath",
              "value": "D:/Priv/Leads/Hotels_ICP_High_Value_Prospects_v2.csv"
            }
          ]
        },
        "options": {}
      },
      "id": "setFilePath",
      "name": "Set ICP FilePath",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [420, 200]
    },
    {
      "parameters": {
        "filePath": "={{$json[\"filePath\"]}}"
      },
      "id": "readBinary",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [660, 200]
    },
    {
      "parameters": {
        "operation": "read",
        "binaryData": true,
        "options": {
          "headerRow": true
        }
      },
      "id": "sheetRead",
      "name": "Spreadsheet File (Read)",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { rows: $input.all().map(i => i.json) } }];"
      },
      "id": "wrapRows",
      "name": "Wrap Full Rows",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1140, 200]
    },
    {
      "parameters": {
        "functionCode": "const rows = $items(\"Wrap Full Rows\")[0].json.rows;\nconst enriched = rows.map(r => ({...r, status: r.status && r.status.trim() ? r.status : 'New'}));\nconst newRows = enriched.filter(r => r.status === 'New').slice(0, 20);\nreturn newRows.map(r => ({ json: r }));"
      },
      "id": "filterNew",
      "name": "Filter first 20 New",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [1380, 200]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ifHasItems",
      "name": "IF Any Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1620, 200]
    },
    {
      "parameters": {
        "batchSize": 1
      },
      "id": "splitBatches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1860, 200]
    },
    {
      "parameters": {
        "functionCode": "const r = item.json;\nconst email = (r.email || '').trim();\nconst name = (r.name || '').trim();\nconst valid = /^[^@\\s]+@[^@\\s]+\\.[^@\\s]+$/.test(email);\nreturn [{ json: { ...r, email, name, valid } }];"
      },
      "id": "prepare",
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [2100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valid}}"
            }
          ]
        }
      },
      "id": "ifValid",
      "name": "IF Email Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2340, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{$json.email}}",
        "ccRecipients": "sugiyama-s1@almex-sta.com, matilda-a1@almex-sta.com",
        "subject": "={{`[Intro: ${$json.name}] [CID:${$json.unique_id}]`}}",
        "bodyContentType": "HTML",
        "bodyContent": "<p>Dear {{$json.name}} Team,</p><p>[Your intro here...]</p><p>Best regards,<br/>[Your Name]<br/>[Your Title]<br/>[Your Company]</p>"
      },
      "id": "outlookSend",
      "name": "Microsoft Outlook - Send",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [2580, 160],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "replace-with-your-credential-id",
          "name": "Microsoft Outlook OAuth2"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { ...$json, status: 'Sent', last_result: 'Dispatched', last_contacted_at: new Date().toISOString(), outlook_message_id: $json.messageId || '' } }];"
      },
      "id": "markSent",
      "name": "Mark as Sent",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [2820, 160]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait15",
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3060, 160]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { ...$json, status: 'Failed', last_result: 'Invalid email', last_contacted_at: new Date().toISOString() } }];"
      },
      "id": "markInvalid",
      "name": "Mark Invalid",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [2580, 260]
    },
    {
      "parameters": {
        "functionCode": "const acc = $json.updates || []; acc.push(item.json); return [{ json: { updates: acc } }];"
      },
      "id": "accumulate",
      "name": "Accumulator",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [3300, 200]
    },
    {
      "parameters": {
        "functionCode": "const fullRows = $items('Wrap Full Rows')[0].json.rows; const updatesArr = $items('Accumulator')[0].json.updates || []; const byId = new Map(updatesArr.map(u => [u.unique_id, u])); const merged = fullRows.map(r => byId.has(r.unique_id) ? { ...r, ...byId.get(r.unique_id) } : r); return merged.map(r => ({ json: r }));"
      },
      "id": "mergeBack",
      "name": "Merge Back",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [3540, 200]
    },
    {
      "parameters": {
        "operation": "write",
        "options": {
          "headerRow": true
        }
      },
      "id": "sheetWrite",
      "name": "Spreadsheet File (Write)",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [3780, 200]
    },
    {
      "parameters": {
        "fileName": "={{$json[\"filePath\"]}}"
      },
      "id": "writeBinary",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [4020, 200]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set ICP FilePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ICP FilePath": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Spreadsheet File (Read)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File (Read)": {
      "main": [
        [
          {
            "node": "Wrap Full Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Full Rows": {
      "main": [
        [
          {
            "node": "Filter first 20 New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter first 20 New": {
      "main": [
        [
          {
            "node": "IF Any Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Any Items?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "IF Email Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Email Valid?": {
      "main": [
        [
          {
            "node": "Microsoft Outlook - Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook - Send": {
      "main": [
        [
          {
            "node": "Mark as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Sent": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "Accumulator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mark Invalid": {
      "main": [
        [
          {
            "node": "Accumulator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accumulator": {
      "main": [
        [
          {
            "node": "Merge Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Back": {
      "main": [
        [
          {
            "node": "Spreadsheet File (Write)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File (Write)": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "auto-generated"
}




